/* reset css */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/* common css property */
body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: black;
    color: white;
}

header {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
}

/* top header placement bloc */
.top_header {
    display: flex;
    justify-content: space-between;
}

/* top header left placement and construction */
.header_top_left_nav {
    display: flex;
    justify-content: space-evenly;
    height: 35px;
    width: 625px;
}

li {
    display: flex;
    align-items: center;
}

li span {
    margin-left: 10px;
}

.arenanet_logo {
    display: flex;
    background-image: url(../images/main/logo.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 30px;
    margin-left: 40px;
}

.header_top_left_nav a {
    color: rgba(255, 255, 255, 0.856);
    text-transform: uppercase;
}

.header_top_left_nav a:hover,
.red_color:hover {
    color: rgba(255, 0, 0, 0.85);
}

/* top header right placement and construction */
.header_top_right_nav {
    display: flex;
    height: 35px;
    width: 150px;
    margin-right: 60px;
    justify-content: space-evenly;
}

.header_top_right_nav a {
    color: rgba(255, 255, 255, 0.751);
    text-transform: uppercase;
}

a span {
    margin-left: 10px;
}

/* bottom header background placement */
.bottom_header {
    background-image: url(../images/main/header_background.jpg);
    width: 100%;
    height: 60px;
}

/* bottom left header social network placement */
.bottom_header_left {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 60px;
    width: 550px;
}

.fb_icon {
    display: flex;
    background-image: url(../images/favicon/fb_white.png);
    width: 30px;
    height: 30px;
    margin-left: 25px;
}

.twitter_icon {
    background-image: url(../images/favicon/twitter_white.png);
    width: 30px;
    height: 30px;
}

.fb_icon:hover {
    background-image: url(../images/favicon/fb_color.png);
    width: 30px;
    height: 30px;
}

.twitter_icon:hover {
    background-image: url(../images/favicon/twitter_color.png);
    width: 30px;
    height: 30px;
}

/* bottom right header text placement */
.bottom_header_right {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 60px;
    width: 850px;
}

.bottom_header_right .twitter_icon {
    margin-left: 50px;
}

.bottom_header_right a {
    font-family: "calibri";
    text-transform: uppercase;
    font-weight: 500;
    margin-left: 50px;
    font-size: 1.5em;
    color: white;
}

.bottom_header_right a:hover {
    color: rgb(193, 142, 2);
}

/* start main website content and placement */
main {
    height: 950px;
    background-image: url("../images/main/background_image_body.png"), url("../images/main/background_image_footer.jpg");
    background-repeat: no-repeat;
}

/* footer content and placement */
footer {
    height: 220px;
}

/* navigation website after header */
/* nav placement */
nav.link_website {
    display: flex;
    height: 30px;
    width: 83%;
    justify-content: end;
}

/* ul li button separation placement */
nav.link_website ul {
    display: flex;
    height: 25px;
    width: 650px;
    justify-content: space-evenly;
}

/* button design */
nav.link_website ul li {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(44, 12, 7);
    border-left: 1px solid rgba(193, 142, 2, 0.36);
    border-right: 1px solid rgb(193, 142, 2, 0.36);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 10px;
}

/* text design and finalisation */
nav.link_website ul li a {
    font-family: "calibri";
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 400;
}

nav.link_website ul li a:hover {
    color: rgb(193, 142, 2);
}

/* background image text guild wars */

h1 {
    color: red;
}